@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap");

:root {
  --header-color: #0d9488;
  --header-text-color: white;
  --nav-color: #2dd4bf;
  --nav-text-color: white;
  --page-color: #ccfbf1;
  --page-text-color: white;
}

.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari and Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer and Edge */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 100dvh;
  display: grid;
  grid-template-rows: 1.5fr 14.5fr 1fr;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--header-color);
  color: var(--header-text-color);
}
#body {
  display: grid;
  grid-template-columns: 1fr 8fr;
}
#nav {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 60px;
  max-width: 200px;
  min-width: 150px;
  background-color: var(--nav-color);
  color: var(--nav-text-color);
}
#page {
  background-color: var(--page-color);
  color: var(--page-text-color);
  font-family: "Plus Jakarta Sans", sans-serif;
  color: black;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--header-color);
}

/*=====HEADER STUFF=======*/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  padding: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.user-profile {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*=====NAVIGATION MENU=======*/
.nav-item-container,
.nav-setting-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 15%;
}
.nav-item {
  font-size: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: transform 0.6s;
  animation-timing-function: ease-in-out;
}
.nav-active {
  background-color: var(--header-color);
  transform: translateX(14px);
  opacity: 1;
}
/*=====PAGES=======*/
#page.settings,
#page.journal,
#page.reminders,
#page.about-us {
  padding: 20px 30px 20px 30px;
}
#page-content-container {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: scroll;
}
.page-title {
  color: black;
  font-size: 36px;
}
/*=====REMINDERS PAGE=======*/
.reminder-controls-container {
  display: flex;
  justify-content: space-between;
}
.filter-container {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 6px 4px 6px;
  border-radius: 8px;
  background-color: var(--nav-color);
  color: white;
}
.reminder-filter-select {
  background-color: var(--header-color);
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  padding: 2px 4px 2px 4px;
  outline: none;
}
.add-reminder-button,
.journal-entry-button {
  background-color: var(--nav-color);
  border: none;
  color: white;
  font-size: 18px;
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
}
.add-reminder-button:hover,
.journal-entry-button:hover {
  background-color: var(--header-color);
}
/* Styles for the form container */
#reminderForm {
  display: grid;
  position: absolute;
  top: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto) 1fr;
  gap: 10px;
  background-color: var(--nav-color);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 260px;
  opacity: 0; /* Initial opacity set to 0 */
  transform: scaleY(0); /* Initial scale set to 0 */
  transition: transform 0.25s ease-in, opacity 0.25s ease-in;
}
#reminderForm.animate {
  transform: scaleY(1);
  opacity: 1;
}
/* Styles for the last row containing the priority item and the two buttons */
#reminderForm .priority-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
#reminderForm textarea,
#reminderForm input {
  resize: none;
  outline: none;
  border: none;
  border-radius: 2px;
}
#reminderForm textarea,
#reminderForm input,
#reminderForm button {
  font-family: "Plus Jakarta Sans", sans-serif;
}

#reminderForm button {
  font-size: 12px;
  border: none;
  margin-left: 3px;
  border-radius: 6px;
  padding-bottom: 2px;
}
#reminderForm button:nth-child(1):hover {
  background-color: red;
  color: white;
}
#reminderForm button:nth-child(2):hover {
  background-color: var(--header-color);
  color: white;
}
#reminderForm label input[type="date"],
#reminderForm .priority-container label select {
  margin-left: 4px;
}

.today-container,
.due-later-container,
.overdue-container {
  margin-top: 14px;
}
.reminder-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: height 0.5s ease;
  overflow: hidden;
}

.reminder-title-small {
  font-size: 24px;
  padding-bottom: 6px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
  margin-bottom: 6px;
}
.reminder-title-small svg {
  transform: rotate(180deg);
  width: 18px;
  margin-top: 10px;
}
.reminder {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 6px;
  padding-right: 10px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.15);
  transition: height 0.5s;
  overflow: hidden;
}
.reminder-text-container {
  margin-left: 4px;
}
.reminder-box-title {
  font-size: 18px;
  margin-right: 6px;
  line-height: 30px;
}
.reminder-box-description {
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  color: white;
}
.dim {
  opacity: 0.3;
}

/*=====JOURNAL PAGE=======*/
.journal-entry-button {
  display: flex;
  align-items: center;
  gap: 6px;
}
#journalEntryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 200px;
  padding: 10px;
  gap: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--nav-color);
  opacity: 0; /* Initial opacity set to 0 */
  transform: scaleY(0); /* Initial scale set to 0 */
  transition: transform 0.25s ease-in, opacity 0.25s ease-in;
  position: absolute;
  top: 36px;
}
#journalEntryForm.animate {
  transform: scaleY(1);
  opacity: 1;
}
#journalEntryForm label input[type="date"] {
  margin-left: 4px;
}
.journal-prompt-title,
.journal-prompt-entry {
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  border: none;
  resize: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.journal-prompt-title,
.journal-prompt-entry {
  width: 100%;
}
.journal-prompt-entry {
  height: 70%;
}
#journalEntryForm .buttons-container {
  display: flex;
  gap: 8px;
}
.journal-confirm,
.journal-cancel {
  border: none;
  background-color: var(--header-color);
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
  color: white;
  font-size: 16px;
}
.journal-cancel:hover {
  background-color: red;
}
.journal-confirm:hover {
  background-color: #0d9488;
}

.journal-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  margin-top: 10px;
  gap: 10px;
}
.journal-entry {
  display: flex;
  flex-direction: column;
  background-color: var(--nav-color);
  padding: 10px;
  border-radius: 10px;
}

.journal-text-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.journal-box-title {
  font-size: 18px;
  color: black;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
}
.journal-box-entry {
  font-size: 16px;
  color: white;
  font-style: italic;
  border-radius: 3px;
}
.journal-box-date {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

/*=====SETTINGS PAGE=======*/
.color-scheme-container {
  margin-left: 20px;
  margin-top: 20px;
}
.color-scheme-title {
  font-size: 20px;
  margin-left: 6px;
  margin-bottom: 8px;
}
.color-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 450px;
  padding: 10px;
  overflow: scroll;
}
.color-choice {
  min-width: 114px;
  height: 80px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid white;
}

/*=====FOOTER=======*/
.footer-content {
  color: var(--header-text-color);
  font-family: "Plus Jakarta Sans", sans-serif;
}
