body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  border: 1px solid black;
}

#container {
  height: 100dvh;
  display: grid;
  grid-template-rows: 1.5fr 14.5fr 1fr;
}

#header {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
#body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
#nav {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 100px;
  gap: 20px;
}
#page {
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*=====LOGO=======*/
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 10px;
}

/*=====NAVIGATION MENU=======*/

/*=====FOOTER=======*/
.footer {
  color: black;
}
